@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  /* background-color: wheat; */
  box-sizing: border-box;
  scrollbar-width: none;
}
.body {
  height: 98%;
  width: 100%;
  background-color: #040f16;
  color: #edf2f4;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo
{
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logo img {
  height: 150px;
  width: 150px;
}
.nav button {
  cursor: pointer;
  color: #edf2f4;
}
.searchbar {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.searchbar input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid white;
  color: black;
  z-index: 1;
}
.searchdiv
{
  height: 60vh;
  width: 55%;
  position: absolute;
  left: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: none;
  background-color: #040f16;
  border: 2px solid white;
  overflow-y: scroll;
  align-items: center;
}
.searchbar::-webkit-scrollbar
{
  display: none;
}
.searchsong
{
  height: 10vh;
  width: 97%;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid white;
  margin: 3px 20px;
  align-items: center;
  border-radius: 10px;
}
.searchsong:hover
{
  cursor: pointer;
  background-color:#86bcde;
  color: black;
  font-weight: 1000;
}
.simgg img
{
  height: 40px;
  width: 40px;
}
#ssingers
{
  width: 25%;
  overflow: hidden;
}
#searchid
{
  display: none;
}
#smoviename
{
  width: 15%;
}
#ssong
{
  width: 20%;
}
#slink
{
  display: none;
}
#firstsong
{
  display: none;
}
.sub button {
  padding: 8px;
  background-color: white;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  gap: 4px;
  border-radius: 15px;
}
.sub button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.login button {
  padding: 8px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  gap: 4px;
  border: 2px solid white;
  border-radius: 15px;
}
button:hover {
  background-color: white;
  color: #040f16;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 90vh;
  display: flex;
}

.sidebar {
  padding: 15px;
  width: 17%;
  height: 90vh;
  /* background-color:#040F16; */
  background-color: rgba(42, 42, 43, 0.481);
  color: #dfdedadd;

  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  border-radius: 7px;
}
.options {
  height: 60%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar button {
  padding: 4px;
  font-size: 15px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #dfdedadd;
}
.sidebar button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3efe06b;
  gap: 5px;
}
.logout {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  gap: 10px;
}

.main-body {
  width: 85%;
  height: 90%;
  background-color: #005d7c31;
  color: white;
  border-radius: 8px;
  overflow-y: scroll;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.foryou {
  margin: 5px;
  width: 98%;
  height: 250px;
  background-color: rgba(7, 7, 7, 0.733);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 13px;
  gap: 5px;
  border-radius: 4px;
}
.foryou > p {
  margin-left: 3.5%;
  font-weight: 1000;
}

.cardcontainer {
  display: flex;
  justify-content: space-evenly;
}


.card {
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  width: 130px;
  background-color: rgb(52, 54, 55);
  border-radius: 5px;
  gap: 10px;
  font-size: 12px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}
.card:disabled
{
  background-color: black;
}
.card img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}
.card .icon {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #0e0e0e00;
  transition: all ease-in-out 0.5s;
}
.card .index
{
  display: none;
}
.icon i {
  position: absolute;
  top: 30%;
}

.card a {
  position: absolute;
  display: none;
}
.card:hover
{
  background-color: rgba(0, 0, 0, 0.99);
  border: 2px solid white;
  border-radius: 10px;
}

.icon:hover {
  cursor: pointer;
  display: flex;
  color: white;
  /* background-color: aliceblue; */
}

.playbar {
  width: 82%;
  height: 15vh;
  border-radius: 10px;
  background-color: #585b5c;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  background-color:#0a2638;
  /* background-color: rgba(31, 30, 30, 0.929); */
  transition: all 0.2s ease-in-out;
}
.playbar-options {
  display: flex;
  width: 97%;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  font-size: 30px;
}
.seekbar {
  height: 5px;
  width: 80%;
  /* border: 2px solid rgb(0, 0, 0); */
  background-color: #040f16;
  position: absolute;
  bottom: 5px;
  left:40px;
  border-radius: 50px;
  cursor: pointer;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: white;
  position: relative;
  bottom: 8px;
  left: 0%;
  transition: all ease-in-out 0.2s;
}
.playbar .songinfo {
  font-size: 20px;
  width: 25%;
  font-family: Baskerville Old Face;
}
.playbar .singers
{
  font-size: 20px;
  width: 25%;
  font-family: Baskerville Old Face;
}
.playbar .songimg img {
  height: 80px;
  display: flex;
}
.play-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 65%;
  cursor: pointer;
}
.buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
}
.volume
{
  font-size: 20px;
  gap:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all ease-in-out 2s; */
}
.volume input
{
  /* width: 20px; */
  height: 5px;

}

.albumsm
{
  width: 80%;
    height: 81%;
    color: white;
    border-radius: 8px;
    position: relative;
    display: none;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #55c2f131;
    overflow:scroll;
}
.albums
{
    width: 100%;
    height: 98%;
    color: white;
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #55c2f131;
    overflow:scroll;
}
.albums::-webkit-scrollbar {
  width: 0;  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.albums {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
#index1
{
  color: white;
}



 .album
{
  width: 100%;
  height: 100%;
  background-color: #55c2f131;
  padding-bottom: 100px;
}
.asong
{
  height: 50px;
  width: 98%;
  background-color: #040f16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin: 8px;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
}

.asong:hover
{
  cursor: pointer;
  background-color:#86bcdec0;
  color: black;
  border: 2px solid black;
  font-weight: 1000;
}
.asong div
{
  display: flex;
  /* justify-content: center; */
}
.asong #singers
{
  width: 25%;
}
.asong #moviename
{
  width: 15%;
}
.asong #song
{
  width: 20%;
}
.asong #hero
{
  width: 15%;;
}
.asong #link
{
  display: none;
}
.asong img
{
  background-size: contain;
  width: 40px; 
  height: 40px;
}
.selected {
  background-color:#86bcdec0;
  color: black;
  font-weight: bolder;
}
